/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


.addButton{
    padding: 15px;
}

.signout{
    display: flex;
}

h2{
    margin: 20px;
}

.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.list1{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.list2{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
  
}

.button{
    margin-left: 10px;
}

